.dossier-header {
    position: relative;
    margin: 0;
    padding: 20px 15px;
    background-color: #f2f2f2;

    &__badge {
        padding: 10px 5px;
        min-width: 190px;
    }
    &__info {
        padding: 10px;

        h2.dossier-title {
            margin: 0;
            color: #000;
            font-size: 2.2rem;
            line-height: 2.5rem;
        }
    }
    &__actions {
        padding: 0;
        min-width: 125px;
        align-items: flex-end;

        epo-button-dropdown {
            position: relative;
            top: -9px;
            right: -12px;
        }
    }
    &__indicator, &__indicator--paper {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 43px;
        height: 42px;
        background-color: #fff;
        z-index: 50;

        &::before {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 42px 42px 0;
            border-color: transparent #718690 transparent transparent;
            z-index: 45;
        }

        .indicator__type {
            display: inline-block;
            position: absolute;
            top: 0;
            right: 7px;
            color: #fff;
            font-weight: bold;
            font-size: 2.0rem;
            z-index: 55;
        }
    }
}