<li class="epo-accordion-panel" >
  <div role="heading" aria-level="3">
    <a class="epo-accordion-panel_heading" 
      (click)="toggleChange.emit()"
      [attr.tabIndex]="tabIndex"
      (blur)="blur();"
      (focus)="focus();"
      [focused]="focused" 
      role="button"
      [attr.id]="ID ? 'accordionItemHeading' + ID : null">
        {{label}}
    </a>
  </div>
  <div role="region" [hidden]="!active" class="epo-accordion-panel_content" [class.active]="active">
    <ng-content select="[content]"></ng-content>
    <span class="epo-accordion-panel_prio">{{priorityCount}}</span>
    <span class="epo-accordion-panel_prio">{{count}}</span>
  </div>
</li>