// This file only contains the variables that are important enough to redfine on a global level.
// As width these you can modify the design of the site.

$footer-height: 72px !default;
$header-height: 56px !default;

$page-left-padding: 10% !default;
$page-right-padding: $page-left-padding;

$font-size-regular: 16px !default;

$default_padding_between_components: 16px !default;
$l_padding_between_components: 32px !default;
$l_padding_between_components: 24px !default;
$xs_padding_between_components: 12px !default;
$s_padding_between_components: 8px !default;

$side_bar_width: 300px !default;

$default_page_padding_bottom: 120px !default;
$default_page_padding_top:39px !default;


