<div class="review-dialog">
<!--    <div class="review-dialog__header">
        <h3 class="review-dialog__header__title">Approve communication</h3>
        <span class="review-dialog__header__subtitle">You are about to approve the communication and send it to the next actor in the workflow.This will also close your
            task.</span>
    </div>
    <div class="review-dialog__comments">
        <epo-textarea ngModel [name]="'textarea'" [label]="'Comments (optional)'" [rows]="9" [placeholder]="'Add comment...'" [validation]="false"></epo-textarea>
    </div>
    <div class="review-dialog__buttons">
        <epo-button [label]="'Cancel'" [buttonStyle]="'secondary'" (buttonClick)="closeDialog()"></epo-button>
        <epo-button [label]="'Approve'"></epo-button>
    </div>-->
</div>
