<!--
<epo-content-box [title]="configData.taskTitle">
    <div header-content class="transaction-dialog__header">
        <i [ngClass]="positiveOpinion ? configData.opinionIcon[0] : configData.opinionIcon[1]"></i>
        <div class="transaction-dialog__status">
            <span class="transaction-dialog__info">{{state}}</span>
            <span class="transaction-dialog__date">
                &lt;!&ndash; <epo-due-date [dueDate]="dueDate"></epo-due-date> &ndash;&gt;
            </span>
        </div>
    </div>
    <div body-content class="transaction-dialog__body">
        <div class="transaction-dialog__content">
            <h3 class="transaction-dialog__communication-type">{{communicationType}} {{timeStamp | date: 'long'}}</h3>
            <p *ngIf="existComments; then comments else nocomments" class="transaction-dialog__comment"></p>
            <ng-template #comments>{{comments}}} {{timeStamp | date: 'long'}}</ng-template>
            <ng-template #nocomments>{{configData.noPreviousComments}}</ng-template>
        </div>
        <eds-transactions-form></eds-transactions-form>
    </div>
</epo-content-box>-->
