<div>
<!--    <epo-snippet [collection]="snippetList">
        <ng-template let-snippet>
            <div (click)="selectSnippet(snippet)">
                <h4>Task Type Name : {{snippet['attributes'].taskTypeName}}</h4>
                <strong>Activity:</strong> {{snippet['attributes'].activity}}
                <strong>Task Id:</strong> {{snippet['attributes'].taskId}}
                <strong>Handler Id:</strong> {{snippet['attributes'].handlerId}}
                <strong>Subject Id:</strong> {{snippet['attributes'].subjectId}}
            </div>
        </ng-template>
    </epo-snippet>-->
</div>