$epo-workmanager-box-height: 50px !default;
$epo-workmanager-box-margin: 0 10px !default;
$epo-workmanager-box-width: 50px !default;

.workmanager-items-item-box,
div {
	height: $epo-workmanager-box-height;
	line-height: $epo-workmanager-box-height;
}

.workmanager-items-item-box {
	display: inline-block;
	margin: $epo-workmanager-box-margin;
	width: $epo-workmanager-box-width;
	text-align: center;
}
