eds-tray {
    width: 100%!important;
    height: 100%;
    font-size: 1.8rem;
    border-right: 0.1rem solid #c7cbcf;

    epo-tabs {
        position: relative;
        display: block;
        height: calc(100% - 77px);
    }

    .tray {
        &-item-tasks {
            float: right;

            &__usertasks { text-align: right; font-weight: bold; min-width: 20px; }
            &__totaltasks { text-align: right; font-weight: normal; min-width: 20px; }
        
            epo-badge {
                position: relative;
                margin: -2px 5px -2px 0;
        
                .epo-badge { font-size: 1.6rem; }
            }
        }

        &__alert-indicator {
            line-height: 2rem;
            position: relative;

            &__content {
                min-width: 2rem;
                padding: 0 0.5rem;
                border-radius: 0.3rem;
                background-color: #e82100;
                overflow: hidden;
                font-size: 1.6rem;
                color: #fff;
                text-overflow: ellipsis;
                margin-right: 6px;
            }
        }
    }

}