<div fxLayout="row" fxLayoutGap="15px" class="dossier-header">
<!--    <div fxFlex="190px" class="dossier-header__badge">
        <epo-dossier-badge [phase]="'S'" [dossierCode]="'EP 20 423 62'" [applicationNumber]="'SA154 8790'"></epo-dossier-badge>
    </div>
    <div fxFlex class="dossier-header__info">
        <h2 class="dossier-title">
            <a [href]="dossierWorkspace" target="_blank">{{dossierTitle}}</a>
        </h2>
        <span class="preclassnumber">F04F1/18</span>
    </div>
    <div fxFlex="125px" fxLayout="column" fxLayoutAlign="space-between end" class="dossier-header__actions">
        <epo-button-dropdown [iconName]="'epoIcon-ellipsis-v'" [ariaLabel]="'Open app'" [optionsList]="configData['dossierLevelActions']"
            [singleButton]="true" [buttonStyle]="'link'"></epo-button-dropdown>
        <epo-dropdown ngModel [options]="configData['openActions']" [placeholder]="'Open in..'" [inline]="true" [validation]="false"></epo-dropdown>
    </div>
    <div class="dossier-header__indicator">
        <div class="indicator__type">P</div>
    </div>-->
</div>