// TODO IDSME Rewrite to all major div's and add a different color to all.
// Then when debugging needs to be done comment this file which will be commented out in styles.scss in.

#page-header {
  background-color: darkslategrey !important;
}

#page-header-column1 {
  background-color: black !important;
}

#page-header-column2 {
  background-color : red !important;
}

#page-header-column3 {
  background-color: yellow !important;
}

#page-header-last-column-logo {
  background-color: lawngreen !important;
}



#page-content {
  background-color: lightblue !important;
}

#side-navigation {
  background-color: salmon !important;
}



#page-footer {
  background: darkslategrey !important;
}

#page-footer-column1 {
  background-color: black !important;
}

#page-footer-column2 {
  background-color : red !important;
}

#page-footer-column3 {
  background-color: yellow !important;
}

#page-footer-last-column {
  background-color: lawngreen !important;
}
