// Defines which fonts to are available for usage.


$text-color-headings: $gray-base;


$font-family-regular:		"Source Sans Pro", sans-serif;
$font-family-headings:    $font-family-regular;
$font-family-headings-weight:    $font-family-regular;

// Do Math for the default font-sizes.
$font-size-regular: 16px;
$font-size-button-text: ($font-size-regular * 1.02);





